<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="thread-item">
    <ion-avatar slot="end" style="width: 100px; height: 100px;">
      <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  
    <div class="thread-content">
      <h2 class="username">Yamileth Jimenez</h2>
      <h5 class="username">yamii_lerth1</h5>
      <ion-button style="margin: 20px;" fill="clear">Agregar intereses +</ion-button>
    </div>
  </ion-item>
</ion-content>
