<ion-item class="thread-item">
  <ion-avatar slot="start">
    <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>

  <div class="thread-content">
    <h2 class="username">yamii_leeth1</h2>
    <ion-textarea 
      auto-grow="true" 
      placeholder="¿Qué novedades tienes?" 
      class="thread-input">
    </ion-textarea>

    <div class="icon-container">
      <ion-icon name="images-outline"></ion-icon>
      <ion-icon name="camera-outline"></ion-icon>
      <ion-icon name="film-outline"></ion-icon>
      <ion-icon name="mic-outline"></ion-icon>
      <ion-icon name="grid-outline"></ion-icon>
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-icon name="location-outline"></ion-icon>
    </div>
  </div>
</ion-item>
