<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="buscar" href="/tabs/buscar">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="hilo" href="/tabs/hilo">
      <ion-icon aria-hidden="true" name="add-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="actividad" href="/tabs/actividad">
      <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
