<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/images/threads.png" alt="Threads Icon" class="threads-icon">
    <ion-segment color="dark">
      <ion-segment-button value="parati" content-id="parati">
        <ion-label>Para ti</ion-label>
      </ion-segment-button>
      <ion-segment-button value="seguidos" content-id="seguidos">
        <ion-label>Seguidos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment-view>
    <ion-segment-content id="parati"></ion-segment-content>
    <ion-segment-content id="seguidos"></ion-segment-content>
  </ion-segment-view>
</ion-content>
